.header__fon{
    position:absolute;
    z-index: -1;
    object-fit: contain;
    width: 100%;
    left:0;
}

main{
    margin: 100px 0 0 0;
}

a{
    text-decoration: none;
}

#sign_in{
    display: inline-block;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 80px;
}